<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title }) %>
<body class="" data-bs-theme="dark">
    <%- include('partials/header.ejs', { user })  %>
    <main class="container my-5 d-flex flex-column justify-items-center align-items-center">
        <h1><%= code %></h1>
        <p><%= title %></p>
        <button class="btn btn-primary" onclick="window.history.back()">Go back</button>
    </main>
</body>
</html>