<header class="p-3 border-bottom border-secondary bg-dark">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 gap-2">
          <li><a href="/" class="nav-link">Home</a></li>
          <% if (!!user) { %>
            <li><a href="/upload" class="nav-link">Upload</a></li>
          <% } %>
        </ul>
  
        <div class="text-end">
          <% if (!!user) { %>
            <div class="dropdown">
              <div class="gap-3 d-flex align-items-center" class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="<%- user.picture %>" alt="<%- user.nickname %>" width="30" height="30" class="overflow-hidden rounded-3">
                <button class="btn btn-outline">
                  <%= user.nickname %>
                </button>
              </div>
              <ul class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton1">
                <li><a href="/settings" class="dropdown-item">Settings</a></li>
                <li><a href="/logout" class="dropdown-item">Log Out</a></li>
              </ul>
              </ul>
            </div>
            
          <% } else { %>
            <a href="/login" class="btn btn-warning me-2">Login</a>
          <% } %>
        </div>
      </div>
    </div>
  </header>